/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/app/public
/.idea/
/.vscode/
.env
.env.*.local
.phpunit.result.cache
Homestead.yaml
Homestead.json
/docker-compose*.yml
.php-cs-fixer.cache
coverage/
reports/
infra/terraform/secrets.auto.tfvars
